body {
  margin: 0;
  padding: 0;
  height: 100%;
  @media (max-width: 1024px) {
    /* height: 100%!important; */
    overflow: hidden;
    max-height: 100% !important;
  }
}

html {
  height: 100%;
}
